html {
    background-color: bisque;
}

body {
    font-family: cursive;
    font-size: 18px;
    margin: 0;
    padding: 0;
    width: 100%;
}

html, body {
    width: 100%;
    overflow-x: hidden;
    max-width: 100vw;
}

header {
    background-color: rgb(98, 59, 25);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
}

header h2 {
    color: rgba(239, 219, 37, 0.882);
}

.list {
    list-style-type: none;
    margin: 2px;
    padding: 3px;
    display: flex;
    gap: 1rem;
}

ul li a {
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    color: rgba(239, 219, 37, 0.882);
    font-weight: 500;
}

section {
    display: grid;
    width: 100%;
    max-width: 1200px;
    margin: 40px auto;
    background: white;
    padding: 50px;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 0 5px 7px;
    transition: filter 0.3s ease;
    justify-items: center;
    text-align: center;
    box-sizing: border-box;
}

section img {
    max-width: 100%;
    height: auto;
    display: block;
}

section:hover {
    filter: brightness(0.95) sepia(0.1);
}

.description, .process{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,));
    gap: 12px;
}

@media (max-width: 320px) {
    section {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        padding: 1rem;
    }
}

@media (max-width: 600px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .list {
        flex-direction: column;
        width: 100%;
        gap: 0.5rem;
        margin-top: 10px 0;
    }

    .list li a {
        padding: 10px 0;
    }
}
