html {
    background-color: bisque;
}

body {
    font-family: cursive;
    font-size: 18px;
    margin: 0;
    padding: 0;
    line-height: 2rem;
}


header {
    background-color: rgb(98, 59, 25);
    margin: 0;
    padding: 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    gap: 60%;
}

header h2 {
    color: rgba(239, 219, 37, 0.882);
}

.links li {
    display: inline;
    list-style-type: none;
}

.links li a {
    display: inline;
    float: left;
    justify-content: center;
    padding: 14px 15px;
    text-decoration: none;
    color: rgba(239, 219, 37, 0.882);
}

p {
    padding: 25px;
    margin: 15px;
}

section {
    max-width: 1000px;
    margin: 50px auto;
    background: white;
    padding: 60px;
    border: 1px solid black;
    box-shadow: 0 5px 7px;
    transition: filter 0.3s ease;
    justify-items: center;
    text-align: center;
}

section:hover {
    filter: brightness(0.95) sepia(0.1);
}

.description, .process{
    display: grid;
    grid-template-columns: auto;
    gap: 15px;
}